{% extends 'index.html' %} {% block content %}
<center>
        <br>
        <h3><b>TRANSACTION HISTORY</b></h3>
        <p>This is some transaction history of the borrowers when borrowing the money in LendingClub.</p>
        <div class='table-bordered' style='overflow: auto; height: 400px; width: 75%; margin:0 auto'>
            <table>
            {% for table in tables %}
                {{titles[loop.index]}}
                {{ table|safe }}
            {% endfor %}
            </table>
        </div>
    
        <form method="POST" action="http://localhost:5000/result">
            <br>
            <h3><b>CHECK THE BORROWER'S REPAYMENT CAPABILITY</b></h3>
            <p>Please insert the borrower's information below.</p>
            <br>
            <div class="input-group mb-3" style="width: 500px">
                <span class="input-group-text" style="width: 500px">Loan Amount:</span>
                <input type="number" name="loan_amnt" step="0.1" 
                min="0" max="1000000" style="width: 500px" id="loan_amnt" 
                class="form-control" required=True placeholder="e.g. 36275, or 725, or 10000"/>
            </select>
            </div>
            <div class="input-group mb-3" style="width: 500px">
                <span class="input-group-text" style="width: 500px">Term:</span>
                <select name="term" style="width: 250px" class="form-control" required="required">
                <option value="36months">36 months</option>
                <option value="60months">60 months</option>
                <option disabled selected hidden>36 months or 60 months</option>
            </select>
            </div>
            <div class="input-group mb-3" style="width: 500px">
                <span class="input-group-text" style="width: 500px">Interest Rate:</span>
                <input type="number" name="int_rate" step="0.01" 
                min="0" max="1000000" style="width: 500px" id="int_rate" 
                class="form-control" required=True placeholder="e.g. 12.72, or 8.24, or 30.89"/>
            </select>
            </div>
            <div class="input-group mb-3" style="width: 500px">
                <span class="input-group-text" style="width: 500px">Installment:</span>
                <input type="number" name="installment" step="0.01" 
                min="0" max="1000000" style="width: 500px" id="installment" 
                class="form-control" required=True placeholder="e.g. 329.48, or 343.14, or 572.44"/>
            </select>
            </div>
            <div class="input-group mb-3" style="width: 500px">
                <span class="input-group-text" style="width: 500px">Grade:</span>
                <select name="grade" style="width: 250px" class="form-control" required="required">
                <option value="A">A</option>
                <option value="B">B</option>
                <option value="C">C</option>
                <option value="D">D</option>
                <option value="E">E</option>
                <option value="F">F</option>
                <option value="G">G</option>
                <option disabled selected hidden>e.g. A, or C, or G</option>
            </select>
            </div>
            <div class="input-group mb-3" style="width: 500px">
                <span class="input-group-text" style="width: 500px">Sub Grade:</span>
                <select name="sub_grade" style="width: 250px" class="form-control" required="required">
                    <option value="A1">A1</option>
                    <option value="A2">A2</option>
                    <option value="A3">A3</option>
                    <option value="A4">A4</option>
                    <option value="A5">A5</option>
                    <option value="B1">B1</option>
                    <option value="B2">B2</option>
                    <option value="B3">B3</option>
                    <option value="B4">B4</option>
                    <option value="B5">B5</option>
                    <option value="C1">C1</option>
                    <option value="C2">C2</option>
                    <option value="C3">C3</option>
                    <option value="C4">C4</option>
                    <option value="C5">C5</option>
                    <option value="D1">D1</option>
                    <option value="D2">D2</option>
                    <option value="D3">D3</option>
                    <option value="D4">D4</option>
                    <option value="D5">D5</option>
                    <option value="E1">E1</option>
                    <option value="E2">E2</option>
                    <option value="E3">E3</option>
                    <option value="E4">E4</option>
                    <option value="E5">E5</option>
                    <option value="F1">F1</option>
                    <option value="F2">F2</option>
                    <option value="F3">F3</option>
                    <option value="F4">F4</option>
                    <option value="F5">F5</option>
                    <option value="G1">G1</option>
                    <option value="G2">G2</option>
                    <option value="G3">G3</option>
                    <option value="G4">G4</option>
                    <option value="G5">G5</option>
                <option disabled selected hidden>e.g. A5, or C2, or G4</option>
            </select>
            </div>
            <div class="input-group mb-3" style="width: 500px">
                <span class="input-group-text" style="width: 500px">Employment Title:</span>
                <textarea class="form-control" name = "emp_title" id="emp_title" rows="1" placeholder="e.g. Credit Analyst, or Data Scientist, or Client Advocate."></textarea>              
            </select>
            </div>
            <div class="input-group mb-3" style="width: 500px">
                <span class="input-group-text" style="width: 500px">Employment Length:</span>
                <select name="emp_length" style="width: 250px" class="form-control" required="required">
                <option value="< 1 year">< 1 year</option>
                <option value="1 year">1 year</option>
                <option value="2 years">2 years</option>
                <option value="3 years">3 years</option>
                <option value="4 years">4 years</option>
                <option value="5 years">5 years</option>
                <option value="6 years">6 years</option>
                <option value="7 years">7 years</option>
                <option value="8 years">8 years</option>
                <option value="9 years">9 years</option>
                <option value="10+ years">10+ years</option>
                <option disabled selected hidden>< 1 year, or 8 years, or 10+ years</option>
            </select>
            </div>
            <div class="input-group mb-3" style="width: 500px">
                <span class="input-group-text" style="width: 500px">Home Ownership:</span>
                <select name="home_ownership" style="width: 250px" class="form-control" required="required">
                <option value="OWN">Own</option>
                <option value="RENT">Rent</option>
                <option value="MORTGAGE">Mortgage</option>
                <option value="NONE">None</option>
                <option value="OTHER">Other</option>
                <option disabled selected hidden>Own, or Rent, or Mortgage, or None, or Other</option>
            </select>
            </div>
            <div class="input-group mb-3" style="width: 500px">
                <span class="input-group-text" style="width: 500px">Annual Income:</span>
                <input type="number" name="annual_inc" step="0.01" 
                min="0" max="1000000" style="width: 500px" id="annual_inc" 
                class="form-control" required=True placeholder="e.g. 117000.0, or 31789.88, or 36111.0"/>
            </select>
            </div>
            <div class="input-group mb-3" style="width: 500px">
                <span class="input-group-text" style="width: 500px">Verification Status:</span>
                <select name="verification_status" style="width: 250px" class="form-control" required="required">
                <option value="Verified">Verified</option>
                <option value="Not Verified">Not Verified</option>
                <option value="Source Verified">Source Verified</option>
                <option disabled selected hidden>Verified, or Not Verified, or Source Verified</option>
            </select>
            </div>
            <div class="input-group mb-3" style="width: 500px">
                <span class="input-group-text" style="width: 500px">Issue Date:</span>
                <textarea class="form-control" name="issue_d" id="issue_d" rows="1" placeholder="e.g. Jan-2015, or Apr-2011, or Jul-2007"></textarea>              
            </select>
            </div>
            <div class="input-group mb-3" style="width: 500px">
                <span class="input-group-text" style="width: 500px">Purpose:</span>
                <select name="purpose" style="width: 250px" class="form-control" required="required">
                <option value="vacation">Vacation</option>
                <option value="debt_consolidation">Debt Consolidation</option>
                <option value="credit_card">Refinance Credit Card</option>
                <option value="home_improvement">Home Improvement</option>
                <option value="small_business">Finance Small Business</option>
                <option value="major_purchase">Major Purchase</option>
                <option value="medical">Cover Medical Expenses</option>
                <option value="wedding">Wedding</option>
                <option value="car">Refinance Car</option>
                <option value="moving">Pay to Move or Relocate</option>
                <option value="house">Purchase a House</option>
                <option value="educational">Educational</option>
                <option value="renewable_energy">Renewable Energy</option>
                <option value="other">Other</option>
                <option disabled selected hidden>e.g. Debt Consolidation, or Refinance Car, or Purchase a House</option>
            </select>
            </div>
            <div class="input-group mb-3" style="width: 500px">
                <span class="input-group-text" style="width: 500px">Debt-to-Income Ratio:</span>
                <input type="number" name="dti" step="0.01" 
                min="0" max="100" style="width: 500px" id="dti" 
                class="form-control" required=True placeholder="e.g. 26.24, or 12.79, or 55.53"/>
            </select>
            </div>
            <div class="input-group mb-3" style="width: 500px">
                <span class="input-group-text" style="width: 500px">Earliest Credit Line:</span>
                <textarea class="form-control" name="earliest_cr_line" id="earliest_cr_line" rows="1" placeholder="e.g. Feb-1982, or Apr-1980, or Jul-2010"></textarea>              
            </select>
            </div>
            <div class="input-group mb-3" style="width: 500px">
                <span class="input-group-text" style="width: 500px">Open Account:</span>
                <input type="number" name="open_acc" step="1" 
                min="0" max="100" style="width: 500px" id="open_acc" 
                class="form-control" required=True placeholder="e.g. 9 or 51 or 76"/>
            </select>
            </div>
            <div class="input-group mb-3" style="width: 500px">
                <span class="input-group-text" style="width: 500px">Derogatory Public Record:</span>
                <input type="number" name="pub_rec" step="1" 
                min="0" max="100" style="width: 500px" id="pub_rec" 
                class="form-control" required=True placeholder="e.g. 0 or 40 or 86"/>
            </div>
            <div class="input-group mb-3" style="width: 500px">
                <span class="input-group-text" style="width: 500px">Revolving Balance:</span>
                <input type="number" name="revol_bal" step="0.1" 
                min="0" max="100000" style="width: 500px" id="revol_bal" 
                class="form-control" required=True placeholder="e.g. 36369.0 or 20131.0 or 29244.0"/>
            </div>
            <div class="input-group mb-3" style="width: 500px">
                <span class="input-group-text" style="width: 500px">Revovling Utilization Rate:</span>
                <input type="number" name="revol_util" step="0.1" 
                min="0" max="100" style="width: 500px" id="revol_util" 
                class="form-control" required=True placeholder="e.g. 41.8 or 53.3 or 128.1"/>
            </div>
            <div class="input-group mb-3" style="width: 500px">
                <span class="input-group-text" style="width: 500px">Total Credit Line Account Recently:</span>
                <input type="number" name="total_acc" step="1" 
                min="0" max="1000" style="width: 500px" id="total_acc" 
                class="form-control" required=True placeholder="e.g. 1 or 66 or 151"/>
            </div>
            <div class="input-group mb-3" style="width: 500px">
                <span class="input-group-text" style="width: 500px">Initial List Status:</span>
                <select name="initial_list_status" style="width: 250px" class="form-control" required="required">
                <option value="w">Whole</option>
                <option value="f">Fractional</option>
                <option disabled selected hidden>Whole or Fractional</option>
            </select>
            </div>
            <div class="input-group mb-3" style="width: 500px">
                <span class="input-group-text" style="width: 500px">Application Type:</span>
                <select name="application_type" style="width: 250px" class="form-control" required="required">
                <option value="INDIVIDUAL">Individual</option>
                <option value="JOINT">Joint</option>
                <option value="DIRECT_PAY">Direct Pay</option>
                <option disabled selected hidden>Individual or Joint or Direct Pay</option>
                </select>
            </div>
            <div class="input-group mb-3" style="width: 500px">
                <span class="input-group-text" style="width: 500px">Mortgage Account:</span>
                <input type="number" name="mort_acc" step="1" 
                min="0" max="100" style="width: 500px" id="mort_acc" 
                class="form-control" required=True placeholder="e.g. 0 or 12 or 32"/>
            </div>
            
            <div class="input-group mb-3" style="width: 500px">
                <span class="input-group-text" style="width: 500px">Public Record Bankruptcies:</span>
                <input type="number" name="pub_rec_bankruptcies" step="1" 
                min="0" max="100" style="width: 500px" id="pub_rec_bankruptcies" 
                class="form-control" required=True placeholder="e.g. 0 or 3 or 8"/>
            </div>

            <div class="input-group mb-3" style="width: 500px">
                <span class="input-group-text" style="width: 500px">Address:</span>
                <textarea class="form-control" name="address" id="exampleFormControlTextarea1" rows="3" placeholder="e.g. 0174 Michelle Gateway Mendozaberg, OK 22690"></textarea>
            </select>
            </div>
            

            <!-- <div class="row" style="width: 500px">
                <div class="col-md-6" style="width: 250px">
                    <label for="bill">Loan Amount:</label>
                    <input type="number" name="bill" step="0.01" min="1" max="1000" style="width: 250px" id="bill" class="form-control" required=True/>
                </div>
            </div> -->
            <!-- <br> -->

            <button type="submit" style="background-color: rgb(4,122,133); color: whitesmoke" class="btn btn-info btn-lg">Predict Repayment Capability</button>
        </form>
        <br>
    </center>
    {% endblock %}

</html>